title #{meta.title}
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
meta(name="format-detection" content="telephone=no")
meta(name="apple-mobile-web-app-title" content=meta.app_title)
meta(name="description", content=meta.description)
meta(name="keywords", content=meta.keywords)
meta(property="og:title", content=meta.title)
meta(property="og:type", content="website")
meta(property="og:description", content=meta.description)
meta(property="og:url", content=meta.url)
meta(property="og:image", content=meta.og_image)
link(rel="apple-touch-icon" sizes="180x180" href=meta.apple_touch_icon)
link(rel="icon" type=`image/${meta.icon.type}` href=meta.icon.url)
link(rel="stylesheet", href=css_path)
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
